<template>
  <vl-map :load-tiles-while-animating="true" :load-tiles-while-interacting="true" class="map">
      <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>

      <vl-layer-tile id="osm">
          <vl-source-osm></vl-source-osm>
      </vl-layer-tile>
  </vl-map>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class Layers extends Vue {
  private zoom = 2;
  private center = [0, 0];
  private rotation = 0;
}
</script>

<style scoped>
.map {
  height: 400px;
  width: 750px;

  margin: 0px auto;
}
</style>